{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block acl_widget %}
{% spaceless %}
{{ block('form_widget') }}
{% endspaceless %}
{% endblock %}

{% block ace_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}
