@import "../lib/base";
@import "../lib/mixins";


/* ---------------------------------------------------------- SIDEBAR */
$tabSize:32px;
.sidePaneTabs{

  @include pos(30%,'','','');

  .sidePaneTabItem{
    $buttonFirstColor:#6fb536;
    $buttonSecondColor:#5fa229;

    width: $tabSize;
    padding:($space/4) ($space/2);
    line-height:$fontSize;
    margin-bottom:5px;
    color:$lightFontColor;
    background-color:$buttonFirstColor;
    border:{
      top:1px solid darken(white, 30%);
      bottom:1px solid darken(white, 30%);
    }

    @extend .buttonCore;
    @include transition(all 0.3s ease-in-out);
    @include box-shadow(0 0 6px rgba(0,0,0,0.1),
                        inset 0 -10px 10px $buttonSecondColor);
  }
}
.sidePane{
  height:100%;
  width:10px;
  background-image:url($contentPatternUrl);
  z-index:3;
  @include transition(all 0.4s ease-in-out);

  &.left{
    border-right:solid 3px $firstColor;
    @include box-shadow(3px 0px 8px rgba(0, 0, 0, 0.1));
    @include pos(0,'',0,0);
    .sidePaneTabs{right:-$tabSize;}
    .sidePaneTabItem{
      border:{right:1px solid darken(white, 30%);}
    }
  }

  &.right{
    border-left:solid 3px $firstColor;
    @include box-shadow(-3px 0px 8px rgba(0, 0, 0, 0.1));
    @include pos(0,0,0,'');
    .sidePaneTabs{left:-$tabSize;}
    .sidePaneTabItem{
      border:{left:1px solid darken(white, 30%);}
    }
  }

  &.opened{
    width:450px;
    .sideContent{@include opacity(1);}
  }

  .sideContent{
    padding:$space;
    @include opacity(0);
  }
}
.toolBar{
  position:relative;
  z-index:2;
  height:42px;
  padding:$space/2;
  color:$lightFontColor;
  background-color:darken($contentColor, 60%); //IE8 & 9 fallback
  background-color:rgba(0,0,0,0.8);
  border-bottom:solid 1px darken($contentColor, 20%);
  @include box-shadow(0 0 5px rgba(0,0,0,0.2));


  .toolBarItem{
    display:inline;
    padding-right:$space/2;
  }
  .icon-middle{cursor: pointer;}
  .mb-hiddenCheckbox{
    position: absolute;
    @include opacity(0);
  }

  &.itemsRight{
    text-align:right;
    .toolBarItem{
      padding-left:$space/2;
      padding-right:0;
    }
  }
  &.itemsCenter{
    text-align:center;
    .toolBarItem{padding-right:$space/2;}
  }
}