@import "../lib/base";


/* -------------------------------------------------------------- LOGO */
.logoContainer{
  position: relative;
  z-index: 10;
  display: inline-block;
  padding:$space/2 $space;
  margin-left: $space;
  float:left;
  background-color: white;
  @include box-shadow(0px 0px 3px black);
}





/* ---------------------------------------------------------- CONTENT */
.contentPane{
  width:100%;
  height:100%;
  @include pos(0,'','',0);
}





/* --------------------------------------------------------- TOOLBARS */
.toolBar{
  z-index:4; 
  &.top{position:relative;}
  &.bottom{@include pos('',0,0,0);}
}





/* --------------------------------------------------------- SIDEPANE */
$tabSize:32px;
.sidePaneTabs{
  width: $tabSize;
  height: $tabSize;
  @include pos(40%,'','','');
  @include transition(all 0.3s ease-in-out);
}
.sidePane{
  width:10px;
  z-index:20;

  &.notCollapsable{
    .sidePaneTabs{display:none;}
  }

  &.left{
    @include pos(120px,'',$space*3,0);
    .sidePaneTabs{right:-$tabSize;}
  }
  &.right{
    @include pos(80px,0,$space*3,'');
    .sidePaneTabs{left:-$tabSize;}
  }
  &.opened{width:450px;}
  .sideContent{@include stretch();}
}