@import "../lib/base";
@import "../lib/normalize";
@import "../lib/components";


/* -------------------------------------------------------------- ALL */
@-webkit-keyframes activity {
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
@-moz-keyframes activity {
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
@keyframes activity {
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
.mb-element-activityindicator{display:none;}
.mb-activity, .mb-activity-ajax{
  .mb-element-activityindicator{
    display: inline-block;
    -webkit-animation:activity 1s ease-in-out infinite;
    -moz-animation:activity 1s ease-in-out infinite;
    animation:activity 1s ease-in-out infinite;
    @include text-shadow(0 0 2px black);
  }
}
.mb-hiddenCheckbox{
  position: absolute;
  @include opacity(0);
}
.iconCoordinates{cursor:default;}
.mb-element-copyright{@include opacity(0.6);}
.mb-element-copyright-link{text-decoration:underline;cursor:pointer;}
.mb-element-copyright-dialog{display: none;}

/* ----------------------------------------- TOOLBAR - TOP AND BOTTOM */
.toolBar{
  z-index:4; 
  @include frontendContainerStyle();

  &.top{
    padding:$space/2 $space $space/2 $space;
    position:relative;
    border-bottom:solid 1px darken($contentColor, 20%);
  }
  &.bottom{
    [class^="icon"]:before,[class*=" icon"]:before{font-size: 14px;}
    padding:$space/4 $space/2 $space/4 $space/2;
    font-size:90%;
    line-height: 90%;
    @include pos('',0,0,0);
  }

  .toolBarItem{
    display:inline;
    padding-right:$space/2;
  }
  &.itemsRight{
    text-align:right;
    .toolBarItem{
      padding-left:$space/2;
      padding-right:0;
    }
  }
  &.itemsCenter{
    text-align:center;
    .toolBarItem{padding-right:$space/2;}
  }
  // space between icon and label
  .iconBig:before{padding-right:5px;}
}
/* ------------------------------------------------- TOOLBAR ELEMENTS */





/* --------------------------------------------------------- SIDEPANE */
$tabSize:32px;
.sidePaneTabs{
  @include pos(40%,'','','');

  .sidePaneTabItem{
    $buttonFirstColor:#6fb536;
    $buttonSecondColor:#5fa229;

    display: block;
    width: $tabSize;
    height: $tabSize;
    padding:($space/4) ($space/2);
    margin-bottom:5px;
    color:$lightFontColor;
    background-color:$buttonFirstColor;
    text-align: center;
    border:{
      top:1px solid darken(white, 30%);
      bottom:1px solid darken(white, 30%);
    }

    @extend .icon;
    @extend .iconOpen;
    @extend .buttonCore;
    @include transition(all 0.3s ease-in-out);
    @include box-shadow(0 0 6px rgba(0,0,0,0.1),
                        inset 0 -10px 10px $buttonSecondColor);
  }
}
.sidePane{
  width:10px;
  z-index:20;
  overflow: visible;
  background-image:url($contentPatternUrl);
  border-top:solid 3px $firstColor;
  border-bottom:solid 3px $firstColor;
  @include transition(all 0.4s ease-in-out);

  &.notCollapsable{
    .sidePaneTabs{display:none;}
  }

  // style for the left side pane
  &.left{
    border-right:solid 3px $firstColor;
    @include pos(120px,'',$space*2,0);
    @include box-shadow(3px 0px 8px rgba(0, 0, 0, 0.1));
    .sidePaneTabs{right:-$tabSize;}
  }

  // style for the right side pane
  &.right{
    border-left:solid 3px $firstColor;
    @include pos(80px,0,$space*2,'');
    @include box-shadow(-3px 0px 8px rgba(0, 0, 0, 0.1));
    .sidePaneTabs{left:-$tabSize;}
  }

  &.opened{
    width:450px;
    .sideContent{@include opacity(1);}
    .sidePaneTabItem{@extend .iconClose;}
  }

  .sideContent{
    overflow: auto;
    padding:$space;
    @include stretch();
    @include opacity(0);
  }
}
/* ------------------------------------------------ SIDEPANE ELEMENTS */
.sideContent{
  [class^="icon"]:before,[class*=" icon"]:before{
    font-size: 14px;
    vertical-align: top;
    margin-right:5px;
  }

  /* About button */
  .mb-aboutButton{
    @extend .button;
  }
  /* About button */
  .mb-button{
    @extend .button;
  }
}

.contentPane{
  /* Activity indecator */
  .mb-element-activityindicator, .mb-element-coordsdisplay{
    z-index: 20;
    @include pos('',$space,$space*2,'');
  }

  .left-top{
    z-index: 10;
    @include pos($space*7,'','',$space);
  }
  .right-top{
    z-index: 10;
    @include pos($space*3,$space,'','');
  }
  .left-bottom{
    z-index: 10;
    @include pos('','',$space*2,$space);
  }
  .right-bottom{
    z-index: 10;
    @include pos('',$space,$space*2,'');
  }
}

.mb-element-zoombar{
  &.iconMove:before{
    @include pos(-$space,0,'','');
  }
}
.pan{
  height: 49px;
  width: 49px;
  @include border-radius(50%,50%);
  @include frontendContainerStyle();

  .iconTop{@include pos(1px,'','',18px);}
  .iconRight{@include pos(15px,6px,'','');}
  .iconDown{@include pos('','',1px,18px);}
  .iconLeft{@include pos(15px,'','',7px);}
}
.toolPane{
  margin:$space/2 5px 0px 5px;
  padding:5px 0px;
  @include border-radius($radius);
  @include frontendContainerStyle();

  & > li{margin:3px 0;}
}
.historyPrev, .historyNext{margin-left:5px;}
.zoomBox{
  text-align:center;
  &.activeZoomIcon{
    .iconZoom{@include opacity(1);}
  }
}
.zoomWorld{text-align:center;}
.zoomSlider{
  text-align:center;
  .zoomSliderLevels{margin:0px;}
  .iconZoomLevel{
    font-size:10px;
    line-height:10px;
    margin-top:5px;
    margin-bottom:10px;
  }
  .iconZoomOut, .iconZoomLevel{
    position: relative;
    display:block;
    &:after{
      content:'';
      height:7px;
      border-left:dotted 1px white;
      @include pos(-8px,'','',19px);
    }
  }
}
.olMapViewport.MapbenderControlZoomBoxActive{cursor: crosshair;}

.mb-element-overview{
  .iconExpand:before{
    font-size: 28px;
  }
  .olMap{
    @include transition(width .2s linear);
    & > div{border:solid 1px black;}
  }
  &.closed{
    .olMap{width:0px !important;}
    .iconExpand{
      @extend .iconExpandClosed;
    }
  }

  &.right-top .iconExpand{@include pos(0,'','',-25px);}
  &.left-top .iconExpand{@include pos(0,-25px,'','');}
  &.right-bottom .iconExpand{@include pos('','',-5px,-25px);}
  &.left-bottom .iconExpand{@include pos('',-25px,-5px,'');}
}