@import "../lib/base";
@import "../lib/normalize";
@import "../lib/components";


/* ---------------------------------------------------------- SIDEBAR */
.toolBar{
  z-index:4;
  color:$lightFontColor;
  background-color:darken($contentColor, 60%); //IE8 & 9 fallback
  background-color:rgba(0,0,0,0.8);
  @include box-shadow(0 0 5px rgba(0,0,0,0.2));

  &.top{
    padding:$space/2 $space $space/2 $space;
    position:relative;
    border-bottom:solid 1px darken($contentColor, 20%);
  }
  &.bottom{
    padding:$space/4 $space/2 $space/4 $space/2;
    font-size:90%;
    line-height: 90%;
    @include pos('',0,0,0);
  }

  .toolBarItem{
    display:inline;
    padding-right:$space/2;
  }
  .mb-hiddenCheckbox{
    position: absolute;
    @include opacity(0);
  }
  &.itemsRight{
    text-align:right;
    .toolBarItem{
      padding-left:$space/2;
      padding-right:0;
    }
  }
  &.itemsCenter{
    text-align:center;
    .toolBarItem{padding-right:$space/2;}
  }
  // space between icon and label
  .iconBig:before{padding-right:5px;}
}

$tabSize:32px;
.sidePaneTabs{
  @include pos(40%,'','','');

  .sidePaneTabItem{
    $buttonFirstColor:#6fb536;
    $buttonSecondColor:#5fa229;

    display: block;
    width: $tabSize;
    height: $tabSize;
    padding:($space/4) ($space/2);
    margin-bottom:5px;
    color:$lightFontColor;
    background-color:$buttonFirstColor;
    text-align: center;
    border:{
      top:1px solid darken(white, 30%);
      bottom:1px solid darken(white, 30%);
    }

    @extend .icon;
    @extend .iconOpen;
    @extend .buttonCore;
    @include transition(all 0.3s ease-in-out);
    @include box-shadow(0 0 6px rgba(0,0,0,0.1),
                        inset 0 -10px 10px $buttonSecondColor);
  }
}
.sidePane{
  width:10px;
  z-index:3;
  overflow: visible;
  background-image:url($contentPatternUrl);
  border-top:solid 3px $firstColor;
  border-bottom:solid 3px $firstColor;
  @include transition(all 0.4s ease-in-out);

  &.notCollapsable{
    .sidePaneTabs{display:none;}
  }

  // style for the left side pane
  &.left{
    border-right:solid 3px $firstColor;
    @include pos(120px,'',$space*2,0);
    @include box-shadow(3px 0px 8px rgba(0, 0, 0, 0.1));
    .sidePaneTabs{right:-$tabSize;}
  }

  // style for the right side pane
  &.right{
    border-left:solid 3px $firstColor;
    @include pos(80px,0,$space*2,'');
    @include box-shadow(-3px 0px 8px rgba(0, 0, 0, 0.1));
    .sidePaneTabs{left:-$tabSize;}
  }

  &.opened{
    width:450px;
    .sideContent{@include opacity(1);}
    .sidePaneTabItem{@extend .iconClose;}
  }

  .sideContent{
    overflow: auto;
    padding:$space;
    @include stretch();
    @include opacity(0);
  }
}