article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline;
  zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  white-space: normal;
  margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  height: 13px;
  width: 13px;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure, form {
  margin: 0; }

p, pre, dl, menu, ol, ul {
  margin: 1em 0; }

/* ------------------------------------------------- MAPBENDER3 ICONS */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../images/icons/fontawesome-webfont.eot?v=3.0.1");
  src: url("../../images/icons/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../../images/icons/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../../images/icons/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^="icon"],
[class*=" icon"],
.icon,
.sidePaneTabItem,
.mb-element-overview .toggleOverview,
.olControlOverviewMapRectReplacement {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  display: inline;
  width: auto;
  height: auto;
  vertical-align: top; }

.iconBig {
  line-height: 20px; }
  .iconBig:before {
    font-family: FontAwesome;
    font-size: 20px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }

.iconCheckboxActive:before, .iconCheckboxHalf:before, .iconCheckbox:before,
.iconRadio:before, .iconRadioActive:before, .iconView:before, .iconHelp:before,
.iconLinkButton:before, .iconDown:before, .iconRight:before, .iconLeft:before,
.iconTop:before, .iconExpand:before, .iconExpandClosed:before, .iconMove:before,
.iconAbout:before, .iconPrint:before, .iconGps:before, .iconLayertree:before,
.iconLegend:before, .iconInfo:before, .iconInfoActive:before, .mb-element-layertree .featureInfoWrapper.iconCheckboxActive:before, .iconSearch:before,
.iconWms:before, .iconOpen:before, .sidePaneTabItem:before, .mb-element-overview.closed .toggleOverview:before, .iconClose:before, .sidePaneOpened .sidePaneTabItem:before, .mb-element-overview .toggleOverview:before, .iconActivity:before, .mb-element-layertree [data-state="loading"]:before,
.iconCoordinates:before, .iconPrev:before, .iconNext:before, .iconZoomSelect:before,
.iconZoomMin:before, .iconZoomIn:before, .iconZoomOut:before, .iconZoomLevel:before,
.iconZoomLevelSelected:before, .iconAreaRuler:before, .iconFolder:before,
.iconFolderActive:before, .iconTarget:before, .olControlOverviewMapRectReplacement:before, .iconGroup:before, .iconAdd:before,
.iconRemove:before, .iconOk:before, .iconEdit:before, .iconPublish:before,
.iconPublishActive:before, .iconAppDefault:before, .iconCancel:before,
.iconThumbsUp:before, .iconThumbsDown:before, .iconGroup:before, .iconUser:before,
.iconSettings:before, .iconSignOut:before, .iconSignIn:before, .iconMore:before,
.iconCopy:before, .iconKey:before, .iconWarning:before, .mb-element-layertree [data-state="error"]:before {
  font-family: FontAwesome; }

.iconCheckboxActive:before {
  content: "\f046" !important; }

.iconCheckboxHalf:before {
  content: "\f147" !important; }

.iconCheckbox:before {
  content: "\f096"; }

.iconRadio:before {
  content: "\f111"; }

.iconRadioActive:before {
  content: "\f10c"; }

.iconView:before {
  content: "\f108"; }

.iconHelp:before {
  content: "\f059"; }

.iconLinkButton:before {
  content: "\f0da"; }

.iconDown:before {
  content: "\f078"; }

.iconRight:before {
  content: "\f054"; }

.iconLeft:before {
  content: "\f053"; }

.iconTop:before {
  content: "\f077"; }

.iconExpand:before {
  content: "\f117"; }

.iconExpandClosed:before {
  content: "\f116"; }

.iconMove:before {
  content: "\f047"; }

.iconAbout:before {
  content: "\f0c0"; }

.iconPrint:before {
  content: "\f02f"; }

.iconGps:before {
  content: "\f041"; }

.iconLayertree:before {
  content: "\f0e8"; }

.iconLegend:before {
  content: "\f00b"; }

.iconInfo:before {
  content: "\f129"; }

.iconInfoActive:before, .mb-element-layertree .featureInfoWrapper.iconCheckboxActive:before {
  content: "\f05a" !important; }

.iconSearch:before {
  content: "\f002"; }

.iconWms:before {
  content: "\f0ac"; }

.iconWmcEditor:before {
  content: "\f044"; }

.iconWmcLoader:before {
  content: "\f07c"; }

.iconOpen:before, .sidePaneTabItem:before, .mb-element-overview.closed .toggleOverview:before {
  content: "\f067"; }

.iconClose:before, .sidePaneOpened .sidePaneTabItem:before, .mb-element-overview .toggleOverview:before {
  content: "\f068"; }

.iconActivity:before, .mb-element-layertree [data-state="loading"]:before {
  content: "\f110"; }

.iconCoordinates:before {
  content: "\f05b"; }

.iconPrev:before {
  content: "\f0e2"; }

.iconNext:before {
  content: "\f01e"; }

.iconZoomSelect:before {
  content: "\f00e"; }

.iconZoomMin:before {
  content: "\f0ac"; }

.iconZoomIn:before {
  content: "\f116"; }

.iconZoomOut:before {
  content: "\f117"; }

.iconZoomLevel:before {
  content: "\f10c"; }

.iconZoomLevelSelected:before {
  content: "\f111"; }

.iconAreaRuler:before {
  content: "\f125"; }

.iconFolder:before {
  content: "\f07b"; }

.iconFolderActive:before {
  content: "\f07c"; }

.iconTarget:before, .olControlOverviewMapRectReplacement:before {
  content: "\f05b"; }

.iconPoi:before {
  content: "\f08d"; }

.iconImageExport:before {
  content: "\f030"; }

.iconWarning:before, .mb-element-layertree [data-state="error"]:before {
  content: "\f071"; }

.iconGroup:before {
  content: "\f0c0"; }

.iconAdd:before {
  content: "\f067"; }

.iconRemove:before {
  content: "\f00d"; }

.iconOk:before {
  content: "\f00c" !important; }

.iconEdit:before {
  content: "\f040"; }

.iconPublish:before {
  content: "\f070" !important; }

.iconPublishActive:before {
  content: "\f06e" !important; }

.iconAppDefault:before {
  content: "\f03e"; }

.iconCancel:before {
  content: "\f05c"; }

.iconThumbsUp:before {
  content: "\f087"; }

.iconThumbsDown:before {
  content: "\f088"; }

.iconGroup:before {
  content: "\f0c0"; }

.iconUser:before {
  content: "\f007"; }

.iconSettings:before {
  content: "\f0ad"; }

.iconSignOut:before {
  content: "\f08b"; }

.iconSignIn:before {
  content: "\f090"; }

.iconMore:before {
  content: "\f141"; }

.iconCopy:before {
  content: "\f0c5"; }

.iconKey:before {
  content: "\f084"; }

.iconTab:before {
  content: "\f114"; }

.iconTabActive:before {
  content: "\f07b" !important; }

/* ------------------------------------------------- MAPBENDER3 RESETS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:focus, *:hover, *:active {
    outline: none; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Calluna Sans", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #3f3f3f; }

ul, ol {
  list-style: none; }

hr, h1, h2, h3, ul, ol, li {
  margin: 0;
  padding: 0px; }

a {
  text-decoration: none; }

p {
  margin: 0px; }

/* ------------------------------------------------------------- MISC */
.clear, .clearContainer {
  clear: both;
  overflow: hidden;
  *zoom: 1; }

.clearContainer {
  height: 0px; }

.hidden {
  display: none; }

.right {
  float: right; }

.left {
  float: left; }

.seperator {
  border: none;
  border-bottom: dashed 1px #b3b3b3; }

.italic {
  font-style: italic; }

/* ------------------------------------------------------------- TEXT */
.smallerText {
  font-size: 10px; }

.smallText, .labelInput, .popupSubTitle, .labelText, .labelCheck, .description, .input, .buttonCore, .button, .tabContainerAlt .tab, .sideContent .mb-aboutButton, .sideContent .mb-gpsButton,
.sideContent .mb-button, .linkButton, .mb-element-searchrouter tr, .sidePaneTabItem, .mb-element-overview .toggleOverview, .dropdown, .tabContainer .tab {
  font-size: 12px; }

.bigText, .title, .popupHead {
  font-size: 16px; }

.biggerText, .contentTitle {
  font-size: 22px; }

.contentTitle {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: dashed 1px #b3b3b3;
  text-shadow: white 1px 1px 0px; }

.title, .popupHead {
  font-weight: normal;
  color: #3f3f3f;
  text-shadow: white 1px 1px 0px; }

.subTitle, fieldset legend, .mb-element-layertree .serviceContainer > .leaveContainer .layer-title, .mb-element-layertree .groupContainer > .leaveContainer .layer-title, .mb-element-searchrouter th {
  font-size: 14px;
  color: #5b932a;
  text-shadow: white 1px 1px 0px; }

fieldset {
  padding: 20px; }
  fieldset legend {
    margin: 0px !important;
    padding: 0 5px 0 5px; }

.labelInput, .popupSubTitle, .labelText, .labelCheck {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: white 1px 1px 0px; }

.labelInput, .popupSubTitle {
  display: inline-block;
  color: #707070;
  line-height: 29px; }
  .labelInput .required, .popupSubTitle .required {
    color: #aa2323;
    text-shadow: white 1px 1px 0px; }

.labelCheck {
  color: #707070;
  margin-left: 5px; }

.labelText {
  color: #5b932a; }

.description {
  color: #707070;
  font-style: italic; }

/* ------------------------------------------------------- COMPONTENS */
/* INPUT */
.input {
  color: #858585;
  border: solid 1px #c8c8c8;
  line-height: 21px;
  height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0 1px 2px #e2e2e2;
  -moz-box-shadow: inset 0 1px 2px #e2e2e2;
  box-shadow: inset 0 1px 2px #e2e2e2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .input:focus {
    outline: none;
    border: 1px solid #8dce55; }

/* BUTTON */
.buttonCore, .button, .tabContainerAlt .tab, .sideContent .mb-aboutButton, .sideContent .mb-gpsButton,
.sideContent .mb-button, .button.critical, .linkButton, .mb-element-searchrouter tr, .sidePaneTabItem, .mb-element-overview .toggleOverview {
  font-family: "Calluna Sans", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @-moz-document url-prefix() {
    .buttonCore {
      font: 12px sans-serif; } }

  border: none;
  cursor: pointer; }

.button, .tabContainerAlt .tab, .sideContent .mb-aboutButton, .sideContent .mb-gpsButton,
.sideContent .mb-button {
  padding: 5px 10px;
  line-height: 14px;
  margin: 0px;
  border: 1px solid #538e24;
  color: white;
  background-color: #6fb536;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229; }
  .button:hover, .tabContainerAlt .tab:hover, .sideContent .mb-aboutButton:hover, .sideContent .mb-gpsButton:hover,
  .sideContent .mb-button:hover {
    background-color: #63a130;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #559225;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #559225;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #559225; }
  .button.icon, .tabContainerAlt .icon.tab, .tabContainerAlt .tab.sidePaneTabItem, .tabContainerAlt .mb-element-overview .tab.toggleOverview, .mb-element-overview .tabContainerAlt .tab.toggleOverview, .tabContainerAlt .tab.olControlOverviewMapRectReplacement, .button.sidePaneTabItem, .sideContent .sidePaneTabItem.mb-aboutButton, .sideContent .sidePaneTabItem.mb-gpsButton,
  .sideContent .sidePaneTabItem.mb-button, .sideContent .icon.mb-aboutButton, .sideContent .mb-element-overview .mb-aboutButton.toggleOverview, .mb-element-overview .sideContent .mb-aboutButton.toggleOverview, .sideContent .mb-aboutButton.olControlOverviewMapRectReplacement, .sideContent .icon.mb-gpsButton, .sideContent .mb-element-overview .mb-gpsButton.toggleOverview, .mb-element-overview .sideContent .mb-gpsButton.toggleOverview, .sideContent .mb-gpsButton.olControlOverviewMapRectReplacement,
  .sideContent .icon.mb-button,
  .sideContent .mb-element-overview .mb-button.toggleOverview,
  .mb-element-overview .sideContent .mb-button.toggleOverview,
  .sideContent .mb-button.olControlOverviewMapRectReplacement, .mb-element-overview .button.toggleOverview, .button.olControlOverviewMapRectReplacement {
    padding-left: 20px;
    background-image: url("../../fomcore/images/link_arrow.png");
    background-position: 10px center;
    background-repeat: no-repeat; }
  .button.critical, .tabContainerAlt .critical.tab, .sideContent .critical.mb-aboutButton, .sideContent .critical.mb-gpsButton,
  .sideContent .critical.mb-button {
    border: 1px solid #9f3434;
    color: white;
    background-color: #d36565;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #b23a3a;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #b23a3a;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #b23a3a; }
    .button.critical:hover, .tabContainerAlt .critical.tab:hover, .sideContent .critical.mb-aboutButton:hover, .sideContent .critical.mb-gpsButton:hover,
    .sideContent .critical.mb-button:hover {
      background-color: #cd5151;
      -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #a33535;
      -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #a33535;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #a33535; }

.linkButton, .mb-element-searchrouter tr {
  color: #707070;
  text-shadow: white 1px 1px 0px; }
  .linkButton:before, .mb-element-searchrouter tr:before {
    margin-right: 5px; }
  .linkButton:hover, .mb-element-searchrouter tr:hover, .linkButton.activeLink, .mb-element-searchrouter tr.activeLink, .linkButton:active, .mb-element-searchrouter tr:active {
    color: #5b932a; }

/* CHECKBOX */
.checkWrapper {
  cursor: pointer;
  width: 14px; }
  .checkWrapper.checkboxDisabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4; }

.checkbox {
  position: absolute;
  top: -9999px;
  left: 0;
  height: 100%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* DROPDOWN */
.dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #5b932a;
  border: solid 1px #c8c8c8;
  line-height: 29px;
  height: 28px;
  padding-right: 30px;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .dropdown .dropdownValue {
    padding-left: 5px;
    color: #858585;
    border: none;
    width: 100%;
    line-height: 29px;
    cursor: pointer; }
    .dropdown .dropdownValue.iconDown:before {
      position: absolute;
      top: 0px;
      right: 5px; }
  .dropdown .dropdownList {
    background-color: #FFF;
    color: #858585;
    position: absolute;
    z-index: 2;
    display: none;
    overflow: auto;
    max-height: 200px;
    border: solid 1px #c8c8c8;
    width: 100%;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 2px white;
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 2px white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 2px white; }
    .dropdown .dropdownList li {
      padding-left: 5px; }
      .dropdown .dropdownList li:hover {
        color: #5b932a;
        background-color: #f9f9f9; }
  .dropdown .hiddenDropdown {
    position: absolute;
    top: -9999px; }

/* -------------------------------------------------------- CONTAINERS */
/* ------------------------------------------------ POPUP */
.overlay {
  background: url("../../images/overlay.png");
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.popupHead {
  margin: 0 20px 20px 20px;
  padding: 20px 0 10px 0;
  border-bottom: dashed 1px #b3b3b3; }
  .popupHead.draggable {
    cursor: move; }

.popupButtons {
  margin-right: 20px; }

.popupContent, .popupSubContent {
  padding: 0 10px 0 20px;
  margin: 0 20px 20px 0;
  max-height: 370px;
  overflow-y: auto; }

.popupSubContent {
  width: 460px; }

.popup {
  position: relative;
  z-index: 9999;
  width: 460px;
  margin: -1000px auto 0 auto;
  background-color: #f4f4f4;
  padding-bottom: 20px;
  background-image: url("../../images/content.png");
  -webkit-transition: margin 0.4s ease-in-out;
  -moz-transition: margin 0.4s ease-in-out;
  -o-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9), inset 0px 0px 2px white;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9), inset 0px 0px 2px white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9), inset 0px 0px 2px white; }
  .popup.popupOverflow .popupContent, .popup.popupOverflow .popupSubContent {
    overflow: visible; }

.popupContainer {
  height: 0px;
  width: 0px;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .popupContainer.show .popup {
    margin: 80px auto 0 auto; }
  .popupContainer.ui-draggable-dragging {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }
  .popupContainer.ui-draggable {
    position: absolute !important; }
    .popupContainer.ui-draggable .popupHead {
      cursor: move; }
  .popupContainer.modal {
    height: 100%;
    width: 100%; }
    .popupContainer.modal .overlay {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
      opacity: 0.9;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .popupContainer .button, .popupContainer .tabContainerAlt .tab, .tabContainerAlt .popupContainer .tab, .popupContainer .sideContent .mb-aboutButton, .sideContent .popupContainer .mb-aboutButton, .popupContainer .sideContent .mb-gpsButton, .sideContent .popupContainer .mb-gpsButton,
  .popupContainer .sideContent .mb-button,
  .sideContent .popupContainer .mb-button {
    margin-left: 3px; }

/* ------------------------------------------------- TABS */
.tabContainer .tab {
  margin-right: 3px;
  color: #707070;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
  bottom: -6px;
  height: 34px;
  z-index: 10;
  border-left: solid 1px #a2a2a2;
  border-top: solid 1px #a2a2a2;
  border-right: solid 1px #a2a2a2;
  float: left;
  padding: 3px 10px 3px 10px;
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1), inset 1px 0px 2px white;
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1), inset 1px 0px 2px white;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.1), inset 1px 0px 2px white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .tabContainer .tab:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px; }
  .tabContainer .tab:hover {
    background-color: #fff;
    bottom: -3px; }
  .tabContainer .tab.active {
    cursor: default;
    color: #3f3f3f;
    bottom: -3px;
    height: 34px;
    z-index: 30;
    background-color: #f9f9f9;
    -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1); }
.tabContainer .container {
  clear: left;
  display: none;
  padding: 20px;
  z-index: 20;
  position: relative;
  background-color: #f9f9f9;
  border-top: solid 3px #404040;
  border-left: solid 1px #a2a2a2;
  border-right: solid 1px #a2a2a2;
  border-bottom: solid 1px #a2a2a2;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); }
  .tabContainer .container.active {
    display: block; }

.tabContainerAlt .tab {
  display: inline-block; }
.tabContainerAlt .container {
  border-top: dashed 1px #a2a2a2;
  margin-top: 20px;
  clear: left;
  display: none;
  padding: 20px;
  z-index: 20;
  position: relative; }
  .tabContainerAlt .container.active {
    display: block; }

/* ------------------------------------------------------------- MISC */
.mb-element-activityindicator {
  display: none; }

.mb-activity .mb-element-activityindicator, .mb-activity-ajax .mb-element-activityindicator {
  display: inline-block;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  text-shadow: 0 0 1px black; }

.mb-hiddenCheckbox {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.iconCoordinates {
  cursor: default;
  vertical-align: baseline; }
  .iconCoordinates:before {
    margin-right: 5px; }

.mb-element-copyright {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

.mb-element-copyright-link {
  cursor: pointer;
  color: white;
  text-decoration: none; }

.mb-element-copyright-dialog {
  display: none; }

/* ---------------------------------------------------------- TOOLBAR */
.logoContainer {
  background-image: url("../../images/head.png"); }

.toolBar {
  color: white;
  background-color: #606060;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0px black;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .toolBar [class^="icon"], .toolBar [class*=" icon"] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .toolBar [class^="icon"]:hover, .toolBar [class*=" icon"]:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  .toolBar .labelInput, .toolBar .popupSubTitle {
    text-shadow: inherit; }
  .toolBar.top {
    padding: 5px 10px 5px 10px;
    border-bottom: solid 1px #c6c6c6; }
    .toolBar.top .toolBarItem {
      height: 32px;
      display: inline-block;
      padding: 5px; }
  .toolBar.bottom {
    padding: 5px 10px 5px 10px; }
    .toolBar.bottom [class^="icon"]:before, .toolBar.bottom [class*=" icon"]:before {
      font-size: 14px; }
    .toolBar.bottom .toolBarItem {
      height: 30px;
      line-height: 30px;
      font-size: 90%;
      padding: 5px; }
    .toolBar.bottom .dropdownList {
      bottom: 0px;
      margin-bottom: 28px; }
  .toolBar .toolBarItemActive {
    background-color: #f9f9f9;
    color: #404040;
    text-shadow: 1px 1px 0 white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .toolBar .toolBarItem {
    display: inline; }
  .toolBar.itemsRight {
    text-align: right; }
    .toolBar.itemsRight .toolBarItem {
      padding-left: 5px; }
  .toolBar.itemsCenter {
    text-align: center; }
    .toolBar.itemsCenter .toolBarItem {
      padding-right: 10px; }
  .toolBar .iconBig:before {
    padding-right: 5px; }

/* --------------------------------------------------------- SIDEPANE */
.sidePaneTabItem {
  display: block;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: white;
  background-color: #6fb536;
  text-align: center;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229; }

.sidePane {
  overflow: visible;
  background-image: url("../../images/content.png");
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .sidePane.left {
    border-right: 1px solid #b3b3b3;
    -webkit-box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.1); }
  .sidePane.right {
    border-left: 1px solid #b3b3b3;
    -webkit-box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.1); }
  .sidePane .sideContent {
    overflow: hidden;
    padding: 20px; }

.sidePaneOpened .sideContent {
  overflow: auto; }

/* -------------------------------------------- ELEMENTS */
/* ----------------------------------------------------------- CONTENT */
/* ----------------------------------------------- ELEMENTS */
.dropdown {
  text-align: left;
  min-width: 200px;
  text-shadow: none; }

.hiddenDropdown {
  display: none; }

.contentPane {
  /* Activity indecator */
  /* Scale display */
  /* Map */ }
  .contentPane .mb-element-coordsdisplay {
    z-index: 20;
    position: absolute;
    right: 20px;
    bottom: 40px; }
  .contentPane .mb-element-scaledisplay {
    padding: 5px 10px;
    color: white;
    background-color: #606060;
    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0px black;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
    .contentPane .mb-element-scaledisplay [class^="icon"], .contentPane .mb-element-scaledisplay [class*=" icon"] {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7;
      -webkit-transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out; }
      .contentPane .mb-element-scaledisplay [class^="icon"]:hover, .contentPane .mb-element-scaledisplay [class*=" icon"]:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
  .contentPane .mb-element-map {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

/* Navigation toolbar */
.mb-element-zoombar.iconMove:before {
  position: absolute;
  top: -20px;
  right: 0; }

.pan {
  height: 49px;
  width: 49px;
  position: relative;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  color: white;
  background-color: #606060;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0px black;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .pan [class^="icon"], .pan [class*=" icon"] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .pan [class^="icon"]:hover, .pan [class*=" icon"]:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  .pan .iconTop {
    position: absolute;
    top: 1px;
    left: 18px; }
  .pan .iconRight {
    position: absolute;
    top: 15px;
    right: 6px; }
  .pan .iconDown {
    position: absolute;
    bottom: 1px;
    left: 18px; }
  .pan .iconLeft {
    position: absolute;
    top: 15px;
    left: 7px; }

.toolPane {
  margin: 10px 5px 0px 5px;
  padding: 5px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  background-color: #606060;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0px black;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  .toolPane [class^="icon"], .toolPane [class*=" icon"] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
    .toolPane [class^="icon"]:hover, .toolPane [class*=" icon"]:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  .toolPane > li {
    margin: 3px 0; }

.historyPrev, .historyNext {
  margin-left: 5px; }

.zoomBox {
  text-align: center; }
  .zoomBox.activeZoomIcon .iconZoom {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

.zoomWorld {
  text-align: center; }

.zoomSlider {
  text-align: center; }
  .zoomSlider .zoomSliderLevels {
    margin: 0px; }
  .zoomSlider .iconZoomLevel {
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 10px; }
  .zoomSlider .iconZoomOut, .zoomSlider .iconZoomLevel {
    position: relative;
    display: block; }
    .zoomSlider .iconZoomOut:after, .zoomSlider .iconZoomLevel:after {
      content: '';
      height: 7px;
      border-left: dotted 1px white;
      position: absolute;
      top: -8px;
      left: 19px; }

.olMapViewport.MapbenderControlZoomBoxActive {
  cursor: crosshair; }
.olMapViewport .olHandlerBoxZoomBox {
  border: 2px solid #404040;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }

/* Overview */
.mb-element-overview .toggleOverview {
  padding: 0px 6px;
  color: white;
  background-color: #6fb536;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1), inset 0 -10px 10px #5fa229;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
.mb-element-overview .olMap {
  background-color: white;
  -webkit-transition: width 0.2s linear;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  transition: width 0.2s linear;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); }
  .mb-element-overview .olMap > div {
    border-top: solid 3px #404040;
    border-left: solid 1px #a2a2a2;
    border-right: solid 1px #a2a2a2;
    border-bottom: solid 1px #a2a2a2; }
.mb-element-overview.closed .olMap {
  width: 0px !important; }
.mb-element-overview.right-top .toggleOverview {
  position: absolute;
  top: 0;
  left: -25px; }
.mb-element-overview.left-top .toggleOverview {
  position: absolute;
  top: 0;
  right: -25px; }
.mb-element-overview.right-bottom .toggleOverview {
  position: absolute;
  bottom: 0;
  left: -25px; }
.mb-element-overview.left-bottom .toggleOverview {
  position: absolute;
  right: -25px;
  bottom: 0; }

.olControlOverviewMapExtentRectangle {
  overflow: hidden;
  cursor: move;
  border: 2px solid #404040; }

.olControlOverviewMapRectReplacement {
  cursor: move; }

/* Scalebar */
.mb-element-scaleline {
  text-align: center;
  display: inline-block; }
  .mb-element-scaleline .scaleBorder {
    border-left: solid 2px #404040;
    border-right: solid 2px #404040;
    border-bottom: solid 2px #404040;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0; }

/* WMS Loader */
.mb-element-wmsloader {
  display: none; }
  .mb-element-wmsloader .input {
    width: 340px; }

/* Print client */
.mb-element-printclient {
  display: none;
  overflow: visible; }
  .mb-element-printclient .labelInput, .mb-element-printclient .popupSubTitle {
    width: 60px; }
  .mb-element-printclient .input, .mb-element-printclient .dropdown {
    width: 190px;
    margin-bottom: 10px;
    min-width: 0px; }

/* Layer tree */
.mb-element-layertree .iconFolder {
  display: none;
  margin-right: 5px; }
.mb-element-layertree .featureInfoWrapper {
  width: 20px;
  text-align: center; }
.mb-element-layertree .serviceContainer, .mb-element-layertree .groupContainer {
  border-left: dotted 1px black;
  margin-bottom: 1px; }
  .mb-element-layertree .serviceContainer > .leaveContainer .iconFolder, .mb-element-layertree .groupContainer > .leaveContainer .iconFolder {
    display: block; }
  .mb-element-layertree .serviceContainer .layers, .mb-element-layertree .groupContainer .layers {
    display: none; }
  .mb-element-layertree .serviceContainer.showLeaves > .layers, .mb-element-layertree .groupContainer.showLeaves > .layers {
    display: block; }
  .mb-element-layertree .serviceContainer .leave, .mb-element-layertree .groupContainer .leave {
    margin-left: 20px;
    position: relative; }
    .mb-element-layertree .serviceContainer .leave.invisible, .mb-element-layertree .groupContainer .leave.invisible {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      opacity: 0.3; }
    .mb-element-layertree .serviceContainer .leave:before, .mb-element-layertree .groupContainer .leave:before {
      content: '';
      display: block;
      height: 5px;
      width: 5px;
      border-top: dotted 1px black;
      position: absolute;
      top: 10px;
      left: -15px; }
  .mb-element-layertree .serviceContainer .leaveContainer, .mb-element-layertree .groupContainer .leaveContainer {
    margin-left: -6px;
    margin-top: 1px; }
.mb-element-layertree .checkWrapper {
  position: relative; }
.mb-element-layertree [data-state="loading"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
  .mb-element-layertree [data-state="loading"]:before {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 20px; }
.mb-element-layertree [data-state="error"] .layer-title {
  color: #aa2323 !important; }
.mb-element-layertree [data-state="error"]:before {
  color: #aa2323;
  position: absolute;
  right: 20px; }

/* Legend */
.notshow, .notvisible {
  display: none; }

/* Search router */
.mb-element-searchrouter {
  display: none; }
  .mb-element-searchrouter .labelInput, .mb-element-searchrouter .popupSubTitle {
    width: 90px;
    float: left; }
  .mb-element-searchrouter .dropdown, .mb-element-searchrouter .input {
    float: left;
    width: 310px;
    margin-bottom: 20px; }
  .mb-element-searchrouter .ui-helper-hidden-accessible {
    display: none; }
  .mb-element-searchrouter .search-results {
    max-height: 200px;
    overflow-y: auto; }
  .mb-element-searchrouter th {
    text-align: left; }
  .mb-element-searchrouter td {
    padding-right: 10px; }

.ui-autocomplete {
  z-index: 1000;
  background-color: #FFF;
  color: #858585;
  cursor: pointer;
  line-height: 29px;
  max-width: 310px;
  max-height: 200px;
  overflow: auto;
  border: solid 1px #c8c8c8;
  font-size: 12px; }
  .ui-autocomplete li {
    padding-left: 5px; }
    .ui-autocomplete li:hover {
      color: #5b932a;
      background-color: #f9f9f9; }

/* WMC Editor */
.mb-wmcEditor .tableCore {
  width: 100%; }
.mb-wmcEditor th {
  text-align: left; }
.mb-wmcEditor .iconColumn {
  padding-left: 10px; }
.mb-wmcEditor .iconAdd {
  color: #3f3f3f; }
.mb-wmcEditor .buttonBack {
  margin-left: 20px; }

.elementFormWMC .labelInput, .elementFormWMC .popupSubTitle {
  width: 110px;
  float: left; }
.elementFormWMC .inputWrapper {
  margin-bottom: 10px; }
.elementFormWMC .input {
  width: 300px; }

/* ----------------------------------------------------------- TOOLBAR */
/* ----------------------------------------------- ELEMENTS */
.toolBar .mb-element-scaleline {
  position: relative;
  bottom: 5px;
  padding-bottom: 5px; }
  .toolBar .mb-element-scaleline .scaleBorder {
    border-color: white; }
