{% extends "FOMManagerBundle::backend.html.twig" %}

{% block css %}
  {% stylesheets filter="compass,cssrewrite"
    "bundles/fomuser/sass/user/login.scss"
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block title %}{% endblock %}

{% block backend_content %}
  <div class="authWrapper">
    <div class="head"><hr class="dekoSeperator"></div>
    <div class="logoContainer">
        <a href="{{ path('mapbender_core_welcome_list') }}"><img class="logo" alt="Mapbender 3" src="{{ asset(fom.server_logo)}}" /></a>
    </div>
    {% block box_content %}{% endblock %}
  </div>
{% endblock %}
