{% extends "FOMManagerBundle::backend.html.twig" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div>
    <h1>{% trans %}Sorry.{% endtrans %}</h1>
{% trans %}
    <p>We're sorry, but you did not provide a token in the URL.</p>
{% endtrans %}
</div>
{% endblock %}

{% block js %}
{% endblock %}
