{% extends "FOMManagerBundle::backend.html.twig" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>{% trans %}Almost done...{% endtrans %}</h1>
{% trans %}
    <p>An email with your reset code and link has been sent to the address you provided.</p>
{% endtrans %}
</div>
{% endblock %}

{% block js %}
{% endblock %}
