<header class="form-help">
{% trans %}
Required fields are marked with dark labels, while optional fields have lighter labels.
{% endtrans %}
</header>

<ul class="nav nav-tabs">
    <li class="active"><a href="#group-basics" data-toggle="tab">
        {{ 'Base data' | trans}}</a></li>
    <li><a href="#group-users" data-toggle="tab">{{ 'Users' | trans}}</a></li>
    <li><a href="#group-roles" data-toggle="tab">{{ 'Roles' | trans}}</a></li>
</ul>

<div class="tab-content">
    <section id="group-basics" class="tab-pane active">
        {% include 'FOMUserBundle:Group:form-basic.html.twig' %}
    </section>

    <section id="group-users" class="tab-pane">
        {% include 'FOMUserBundle:Group:form-users.html.twig' %}
    </section>

    <section id="group-roles" class="tab-pane">
        {% include 'FOMUserBundle:Group:form-roles.html.twig' %}
    </section>
</div>

