@import "../../../../CoreBundle/Resources/public/sass/base";
@import "../../../../CoreBundle/Resources/public/sass/mixins";
@import "../../../../CoreBundle/Resources/public/sass/mapbender_theme";


$bannerHeight:170px;
$contentPaneWidth:760px;
$navWidth:200px;
$pageWidth:$contentPaneWidth + $navWidth;

/*
 * This css contains backend styles only
 */

/* ------------------------------------------------------------- PAGE */
// avoid that the background pattern overlaing the paper deck effect of the contentbox
body{z-index:-30;position:relative;}
.page{
  position:relative;
  top:-$bannerHeight;
  margin: 0 auto;
  width:$pageWidth;
}
// dekoration box
.shadowBox{
  background-color:$contentColor;
  @include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.9));
}






/* --------------------------------------------------------- PAGE TOP */
.head{
  position: relative;
  height:$bannerHeight;

  // remove broken head background when the page is smaller than defined width
  min-width:$pageWidth;
  border-top:solid 5px darken($firstColor, 10%);
  background:url($firstPatternUrl);

  @include box-shadow(inset lighten(#000, 20%) 0px 1px 0px);

  hr{@include pos('',0,0,0);}
}
.crumbTitle{
  color:$lightFontColor;
  font-weight:bold;
  @include text-shadow($darkFontColor 1px 1px 0px);
}
.crumbSubTitle{
    color:$middleFontColor;
    @include text-shadow(black 1px 1px 0px);
}
.accountBar{
  padding:($space/4) ($space/2) ($space/4) ($space/2);
  color:$middleFontColor;
  height: 30px;
  overflow: hidden;
  cursor:pointer;
  @include pos(0,0,'','');

  &.stretchable{
    @include transition(all 0.2s ease-in-out);

    &:hover{
      height:80px;
    }
  }
}






/* -------------------------------------------------------- PAGE LEFT */
.leftPane{
  @include pos(0, '', '', 0);
  width:$navWidth;

  .logo{
    width:$navWidth - $space*2;
    margin:$space 0 0 $space;
  }
}
.navLevel1{
  border-right:1px solid lighten($firstColor, 40%);
  padding:$space/2 $space $space/2 $space;
  background-color:$contentColor;
  @include box-shadow(0px 0px 3px rgba(0, 0, 0, 1));
  @include pos($bannerHeight,0,'',0);

  &>.navItem {display:block;}
  & > .activeItem{
    .navLevel2 > .navItem{display:block;}
  }
}
.navLevel2, .navLevel3{margin-left:$space/2;}
.navLevel2{
  & > .activeItem{
    .navLevel3 > .navItem{display:block;}
  }
}
.navItem{
  display:none;
  a {
    font:{
      family: $fontFamily;
      size: $fontSize - 2;
    }
    padding:($space/4) ($space/2) ($space/4) ($space/2);
    background:url("../../fomcore/images/nav_arrow.png") left center no-repeat;
    color:$middleFontColor;
    @include text-shadow(1px 1px 0px $lightFontColor);
    @include transition(color 0.2s linear);

    &:hover{
      color:$darkFontColor;
      background:url("../../fomcore/images/nav_arrow_active.png") left center no-repeat;
    }
  }
  &.activeItem {
    display: block;
    & > a{
      color: $ciColor !important;
      background:url("../../fomcore/images/nav_arrow_active.png") left center no-repeat;
    }
  }
}





/*--------------------------------------------------------- PAGE RIGHT */
.rightPane{
  width:$contentPaneWidth;
  @include pos(0, 0, '', $navWidth);
}





/* ------------------------------------------------------- PAGE CENTER */
.contentPane{padding-top:$space*4;}
.content{
  min-height: 600px; 
  position:relative; 
  padding:$space;
  margin:0px;
  background-color:$contentColor;
  background-image:url($secondPatternUrl);
  @include border-radius($radius);

  hr{@include pos(0,0,'',0);}
 
  // uuhh baby show me your paper effect ... hrrr
  &:before, &:after{
    content:"";
    background-color:$contentColor;
    height:10px;
    @extend .shadowBox;
    @include border-radius($radius);
  }
  &:before{
    z-index:-10;
    @include pos('',5px,-3px,5px);
  }
  &:after{
    content:"";
    z-index:-20;
    @include pos('',10px,-6px,10px);
  }
}






/* -------------------------------------------------------------- LOGIN */
@import "../../../../UserBundle/Resources/public/sass/login";






/* ----------------------------------------------------------- SERVICES */
/* Services */
.filterService{
  margin-bottom:$space;
  margin-left:$space/2;
  width:250px;
}
.listFilterContainer{
  $col1Width: 60px;

  .filterItem{
    position:relative;
    background-color: $contentColor;
    margin-bottom:$space;
    @include box-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  }     
  .col1{
    width:$col1Width;
    text-align:center;
    color:$lightFontColor;
    padding:$space/4;
    background-color:$firstColor;
    line-height:$lineHeight - 6;
    @include pos(0,'',0,0);
  }
  .col2{
    border: solid 1px $thirdColor;
    margin-left: $col1Width;
    padding:$space/2;
  }
  .buttonGroup{@include pos($space/2,$space/2,'','');}
  .description{
    margin-top:$space/2;
    padding-top:$space/2;
    border-top:dashed 1px darken(#fff, 30%);
  }
}






/* Add service */
.serviceAddBox{
  $labelWidth:70px;
  $inputWidth:220px;

  width:$labelWidth + $inputWidth + $space*2 + 2; // + border
  margin-right:$space;
 
  .label{width:$labelWidth;}
  .input{
    margin-bottom:$space/2; 
    width: $inputWidth;
  }
}
.serviceContainer{
  .labelAlt{float:left;}
  .metaText{
    // font settings like 
    font-size:$fontSize - 2;
    line-height:$lineHeight + 0.7;
  }
}

.serviceMetaContainer{
  $labelWidth:120px;

  .labelAlt{width:$labelWidth; }
  .metaText{margin-left:$labelWidth + $space/2; }
  .metaUrl{
    line-height:1em;
    margin-top:0.6em;
    word-wrap: break-word;
  }
}
.serviceContactContainer{
  $labelWidth:90px;

  .labelAlt{width:$labelWidth; }
  .metaText{margin-left:$labelWidth + $space/2; }
}
.serviceServiceContainer{
  $labelWidth:160px;

  .labelAlt{width:$labelWidth;}
  .metaText{margin-left:$labelWidth + $space/2; }
  .metaFormats{line-height:1em;margin-top:0.6em;}
}
.serviceLayersContainer{ 
  .subTitle{display:inline;}
  .list, li{clear:both;margin:0;}
  .list{
    &.closed{
      height:20px;
      overflow:hidden;
    }
  }
  .labelAlt{
    width:85px;
    margin-right:$space/2;
  }
}