{% extends "FOMManagerBundle::backend.html.twig" %}

{% block title %}Registration{% endblock %}

{% block content %}
<div>
    <h1>{% trans %}Sorry.{% endtrans %}</h1>
{% trans %}
    <p>Your registration token has expired. Unfortunately, you will have to request a new token.
{% endtrans %}
    <form action="{{ path('fom_user_registration_reset', {'token': user.registrationtoken}) }}" method="post">
        {{ form_widget(form) }}
        <button class="button">Request new token</button>
    </form>
</div>
{% endblock %}

{% block js %}
{% endblock %}
