{% extends "FOMManagerBundle::backend.html.twig" %}

{% block title %}Registration{% endblock %}

{% block content %}
<div>
    <h1>{% trans %}Congratulations!{% endtrans %}</h1>
{% trans with { '%url%': url('fom_user_login_login') } %}
    <p>You're account has been successfully activated and is <a href="%url%">ready for use</a>.</p>
{% endtrans %}
</div>
{% endblock %}

{% block js %}
{% endblock %}
