{% extends "FOMUserBundle:Login:box.html.twig" %}

{% block title %} {{ 'Registration' | trans}} {% endblock %}

{% block box_content %}
    <div class="loginBox">
        <h2 class="contentTitle">{{ 'Registration' | trans}}</h2>
        {% trans %}
            <p class="description">Your account has been created. An email with your activation code 
    and link has been sent to the address you provided.</p>
        {% endtrans %}
        <a class="left iconLinkButton linkButton" href="{{ path('fom_user_login_login') }}">{{ "Back to login"|trans}}</a>
        <div class="clearContainer"></div>
    </div>
{% endblock %}