@import "../lib/base";
@import "../lib/mixins";


/* ------------------------------------------------------- APPLICATIONS */
.listFilterInput{
  margin-bottom:$space;
  width:250px;
}
.listFilterApplicationBoxes{
  $col1Width: 120px;
  $height:120px;

  .filterItem{
    min-height:$height;
  }

  .col1{width:$col1Width;}
  .col2{
    height:$height;
    margin-left: $col1Width;
  }
}






/* ----------------------------------------------- NEW/EDIT APPLICATION */
.applicationTabContainer{
  margin-bottom:$space;

  .containerBaseData{
    .labelInput{
      width:80px;
      float:left;
      display: block;
      margin-bottom: $space/2;
    }
    textarea, input{width: 300px;}
    textarea{height:100px;}
    .messageBox{
      width:270px;
      @include pos($space,$space,'','');
    }
  }
  .containerLayout{
    .dropdown{
      width:270px;
      margin-left:$space;
    }
  }
}
.popup{
  .popupSubContent{
    .labelInput{
      float:left;
      margin-right: $space;
    }
    .input{float:left;}
  }
}

$elementPopupWidth: $popupModalWidth - ($space * 3);

/* ELEMENT FORMS */
.elementForm{
  .labelInput{margin-bottom:$space/2;}
}
.elementFormAbout, .elementFormSrs, .elementFormScaleSelector, .elementFormGps{
  .labelInput{width:40px;}
  .checkWrapper{margin-left:$space;}
  .input{width:200px;}
}
.elementFormActivity{
  $label:40px;
  .labelInput{width:$label;}
  .input{width:$elementPopupWidth - $label ;}
}
.elementFormButton{
  .labelInput{width:50px;}
  .checkWrapper{margin-left:$space;}
  .input, .dropdown{width:180px;}
}
.elementFormCoordinates{
  .labelInput{width:50px;}
  .checkWrapper{margin-left:$space;}
  .dropdown, .input{width:210px;}
}
.elementFormCopyright{
  $label:80px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label ;}
}
.elementFormFeatureInfo{
  $label:40px;
  .labelInput{width:$label;}
  .dropdown, .input{width:$elementPopupWidth - $label ;}
  .checkWrapper{margin-bottom:$space/2;}
  .labelCheck{margin-right:$space;}
}
.elementFormMap{ // XXXTODO
  .labelInput{width:90px;}
  .checkWrapper{margin-bottom:$space/2;}
  .dropdown, .input{width:260px;}
}
.elementFormOverview{ // XXXTODO
  .labelInput{width:50px;}
  .checkWrapper{margin-bottom:$space/2;}
  .dropdown, .input{width:260px;}
}
.elementFormPrintClient{
  .labelInput{width:50px;}
  textarea{width:200px;}
}






/* ------------------------------------------------------------- LAYERS */
.layersetForm{
  .labelInput{width:40px;float:left;}
  .input{
    position: absolute;
    right:0px;
    left:40px + $space/2;
  }
}
.layerset{
  .publishIconSmall{
    // shitty shitty bang bang
    height:13px;
    margin-right: $space/2;
  }
  tbody tr{cursor:move;}
}





/* ------------------------------------------------------------- LAYOUT */
.checkContainer{
  position:relative;
  color:$middleFontColor;
  display: block;
  margin-bottom: $space/2;
  background-color: $contentColor;
  padding:5px $space/2 5px $space/2;
  border:solid 1px white;
  @include border-radius($radius);
  @include transition(all 0.2s ease-in-out);

  .checkedIcon{
    @include opacity(0);
    @include pos(5px,5px,'','');
  }

  &:hover{
    background-color: white;
    border:solid 1px darken(white, 15%);
    .checkedIcon{@include opacity(1);}
  }
}