@import "../lib/base";

/* ------------------------------------------------------------- TEXT */
.crumbTitle{
  color:$lightFontColor;
  font-weight:bold;
  @include text-shadow($darkFontColor 1px 1px 0px);
}
.crumbSubTitle{
  color:$middleFontColor;
  @include text-shadow(black 1px 1px 0px);
}
.iconBig, .iconSmall{
  color:$darkFontColor;
  margin-left:5px;
}






/* -------------------------------------------------------- CONTAINER */
.box{
  border: solid 1px $thirdColor;
  background-color: $contentColor;
  @include box-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
}
.area{
  @include border-radius($radius);
}
.listFilterInput{margin-left:$space;}
.listFilterBoxes{
  .filterItem{
    position:relative;
    background-color: $contentColor;
    margin-bottom:$space;
  }
  .col1{
    text-align:center;
    color:$lightFontColor;
    padding:$space/4;
    line-height:$lineHeight - 6;
    background-color:$firstColor;
    @include pos(0,'',0,0);
  }
  .col2{padding:$space/2;}    
  .buttonGroup{@include pos($space/2,$space/2,'','');}
  .description{
    margin-top:$space/2;
    padding-top:$space/2;
    border-top:dashed 1px darken(#fff, 30%);
  }
}
/* MESSAGES */
.messageBox{
  padding:$space/2;
  margin-bottom:$space;
  @include border-radius($radius);

  &.error{
    color:$errorColor;
    background-color: lighten($errorColor, 50%);
    border:solid 1px lighten($errorColor, 40%);
  }
  &.hint{
    color:$hintColor;
    background-color: lighten($hintColor, 50%);
    border:solid 1px lighten($hintColor, 40%);
  }

  @include box-shadow(0 0 3px rgba(0, 0, 0, 0.1),
                      inset 0px 0px 3px #fff);
}
.flashBox{
  padding:($space/4) ($space/2) ($space/4) ($space/2);
  background-color:$contentColor;
  text-align: center;
  width: 250px;
  margin:0 auto;
  position: relative;
  @include transition(all 1s ease-in-out);
  @include opacity(1);
  @include box-shadow(0px 0px 3px black);

  &.success{
    &:before{
      @extend .icon;
    }
    @extend .iconThumbsUp;
    color:darken($noticeColor, 10%);
    background-color: lighten($noticeColor, 50%);
  }
  &.kill{
    top:-100px;
    @include opacity(0);
  }
}






/* ----------------------------------------------------------- TABLES */
.permissionsTable{
  $height:26px;

  tr{
    border-bottom: solid 1px darken($contentColor, 10%);
    &.new{background-color: #e5f9e5 !important;}
    .input{width:210px;}
  }
  th{cursor: pointer;padding-left:5px;}
  td{
    padding:5px;
    .labelInput{width:150px;}
    .input{display:none;}
    .iconGroup:before, .iconUser:before{
      text-align: center;
      width:20px;
      margin-right: 5px;
      display: inline-block;
    }
  }
  .listFilterInput{
    margin-top:0;
    margin-bottom:0;
  }

  .checkbox{
    height:$height;
    @include pos(0,0,$space/2,0);
  }

  .tagWrapper{
    position: relative;
    width:58px;
    height:$height;
    line-height:$height;
    text-align:center;
    display: block;
    @include noUserSelect;
    @include border-radius($radius);

    // kill the checkbox icon
    &:before{display: none;}

    @each $perm in view, edit, delete, operator, master, owner{
      &.#{$perm}{
        &.multi{background-color:#c1c1c1;}

        &.iconCheckboxActive{
          color:white;

          @if($perm == "view"){background-color: #8DCA35;}
          @if(($perm == "edit") or ($perm == "delete")){background-color: #FFAB00;}
          @if(($perm == "operator") or ($perm == "master") or ($perm == "owner")){background-color: #FF702A;}
        }
      }
    }
  }
}
.tableGroupsAndUsers{
  width:100% !important;
  .hide{display:none;}
}