.authWrapper{
  $boxWidth:340px;
  position: absolute;
  left:0;
  right: 0;
  top:15%;

  .logo{
    margin:0 auto;
    position:relative;
    top:-280px;
    display:block;
    width:200px;
  }
  .head{height:300px;}
  .loginBox{
    position: relative;
    top: -270px;
    padding:$space;
    margin: 0 auto;
    width:$boxWidth;
    background-image:url($contentPatternUrl);
    @include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.9));

    &.login{
    $labelWidth: 80px;
    .labelInput{width:$labelWidth;}
    .input{width:$boxWidth - $labelWidth - $space*2;}
    }
    &.forgot{
      $labelWidth: 135px;
      .labelInput{width:$labelWidth;}
      .input{width:$boxWidth - $labelWidth - $space*2;}
    }
    &.register{
      $labelWidth: 125px;
      .labelInput{width:$labelWidth;}
      .input{width:$boxWidth - $labelWidth - $space*2;}
    }
  }
  .labelInput{display:block;}
  .input{margin-bottom:$space/2;}
  .linkButton{
    margin-right:$space/2;
    margin-top:5px;
  }
}