/* ----------------------------------------------------------- SERVICES */
.listFilterInput{
  margin-bottom:$space;
  width:250px;
}
.listFilterServiceBoxes{
  $col1Width: 60px;

  .col1{width:$col1Width;}
  .col2{margin-left: $col1Width;}
}






/* -------------------------------------------------------- ADD SERVICE */
.serviceAddBox{
  $labelWidth:70px;
  $inputWidth:300px;

  width:$labelWidth + $inputWidth + $space*2 + 2; // + border
  margin-right:$space;  

  .labelInput{width:$labelWidth;}
  .input{
    margin-bottom:$space/2;  
    width: $inputWidth; 
  }
}






/* ------------------------------------------------------- VIEW SERVICE */
.serviceContainer{ 
  .labelText{float:left;}
  .metaText{@extend .smallText;}
  margin-bottom:$space;
}
.serviceMetaContainer{ 
  $labelWidth:120px; 
 
  .labelText{width:$labelWidth;} 
  .metaText{margin-left:$labelWidth + $space/2;}
  .metaUrl{word-wrap: break-word;}
}
.serviceContactContainer{ 
  $labelWidth:90px;
   
  .labelText{width:$labelWidth; }
  .metaText{margin-left:$labelWidth + $space/2; }
}
.serviceServiceContainer{
  $labelWidth:160px;

  .labelText{width:$labelWidth;}
  .metaText{margin-left:$labelWidth + $space/2; }
  .metaFormats{line-height:1em;margin-top:0.6em;}
}
.serviceLayersContainer{ 
  $labeText:85px;

  .list, li{clear:both;}
  .list{
    border-left:dashed 1px darken(#fff, 20%);
    margin-bottom:$space/2;
    &.closed{
      & > li{display:none;}
      & > .openCloseTitle{display:block;}
    }
    li{margin-left:$space;}

    // no margin for labeltext lists ...
    ul.left li{
      margin-left:0px;
      // ... and metatext below lists
      .metaText{margin-left:0px;}
    }
  }
  .labelText{
    width:$labeText;
    margin-right:$space/2;
  }
  .openCloseTitle{
    color:$darkFontColor;
    cursor:pointer;
    display: inline-block;
    margin-left:-10px !important;
    background-color:$contentColor;
    padding-left:$space;
    height:17px;
    font-style:italic;

    @extend .openedIcon;
    @include opacity(1);
    @include text-shadow(#fff 1px 1px 0px);
  }
  .closed .openCloseTitle{
    background-color:$contentColor;
    @extend .closedIcon;
  }
  .metaText{
    display: block;
    margin-left:$labeText + $space/2;
    word-wrap: break-word;
  }
}