/* --------------------------------------------------------------- ACLS */
.userControlTable{
  .iconColumn{
    padding-top:$space/2;
    vertical-align: top;
  }
}
.tableUserGroups{
  width:300px;
  .description{
    width:150px;
    text-align: right;
    padding:0px;
  }

  
  .iconCheckboxActive, .iconCheckbox{
    @extend .iconOk;
    @extend .iconBig;
    &:before{
      float:right;
      margin-right:$space/2;
    }
  }

  td{
    cursor:pointer;
    padding-right:0px;
    @include transition(all 0.2s ease-in-out);
    &:hover{
      .checkWrapper{@include opacity(0.4);}
      .checkWrapper.iconCheckboxActive{@include opacity(1);}
    }
  }
  .tdContentWrapper{position:relative;}
  .checkWrapper{
    .checkbox{
      width:100%;
      @include opacity(0);
    }

    width: 100%;
    @include opacity(0);
    @include pos(0,0,'','');
    @include transition(all 0.2s ease-in-out);

    &.iconCheckboxActive{@include opacity(1);}
  }
}
.userGroupTabContainer{
  margin-bottom: $space;

  .containerBaseData{
    .labelInput{
      float:left;
      display: block;
      margin-bottom: $space/2;
    } 
    .input{width:250px;}
    textarea{height:150px;}
  }
}
.groupTabContainer .containerBaseData .labelInput{width:90px;}
.userTabContainer .containerBaseData .labelInput{width:130px;}

.aclTabContainer{
  margin-bottom:$space;

  .containerBaseData{
    .labelInput{
      width:80px;
      float:left;
      display: block;
      margin-bottom: $space/2;
    }
    textarea, input{width: 300px;}
    textarea{height:100px;}
    .messageBox{
      width:270px;
      @include pos($space,$space,'','');
    }
  }
  .containerLayout{
    .dropdown{
      width:270px;
      margin-left:$space;
    }
  }
}